footer {
	text-align: center;
}

section{
	text-align: center;
}

table {
	margin: auto;
}

ul {
	text-align: center;
	list-style: none;
	background: #f1f1f1;
}

li {
	display: inline-block;
	padding: 16px;
	color: white;
}

li a {
	text-decoration: none;
	padding: 16px;
}

li a:hover{
	background:#555;
	color:white;
}

